@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);
}

@font-face {
	font-family: 'Maquina de Escribir';
	src: url('../fonts/Maquina de Escribir.ttf') format(TrueType);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/fireChispa2.jpg');
	background-size: cover;
}

.main-container {
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	border: solid 1px grey;
	border-radius: 5px;
	width: 90%;
	max-width: 2000px;
	margin: 50px auto;	
	padding: 10px;
	gap: 5px;
}

.main-header,
.main-nav,
.banner,
.content-information,
.main-footer,
.section-information-header,
.section-information,
.card-information,
.button-card {
	border: solid 1px grey;
	border-radius: 5px;
}

.main-header {
	background: url('../images/17.jpg');
	background-size: cover;
	background-position-y: 80%;
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'PeachyKeenSerif-DEMO';
	padding: 25px;
	font-size: 3rem;
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.main-container .main-nav {
	background-color: #000000;
	padding: 10px;
}

.main-container .main-nav ul { 
	display: flex;
	flex-direction: row;
	gap: 15px;
	list-style: none;
	justify-content: center;
}

.main-container .main-nav ul a {
	color: #ffffff;
	text-decoration: none;
	font-family: 'GoudyBookletter1911';
	font-size: 1rem;
	transition: background 1s linear;
	padding: 5px;
	border-radius: 5px;
}

.main-container .main-nav ul a:hover {
	background-color: #ffffff;
	color: #000000;
	padding: 5px;
	border-radius: 5px;
}

.main-container .main-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.main-content .content-information {
	background-color: honeydew;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;
}

.main-content .banner{
	background-color: olive;
	height: auto;
}

.main-content .content-information {
	background-color: #000000;
	height: 600px;
	display: flex;
	flex-direction: column;
}

.section-information-header{
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: center;
}

.section-information {
	background: url('../images/16.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: 250px;
	padding: 5px;
}

#header-1 {
	background: url('../images/header2.jpg');
	background-size: cover;
	background-position-y: 45%;
}

#header-2 {
	background: url('../images/header4.jpg');
	background-size: cover;
	background-position-y: 60%;	
}

.text-header {
	color: #ffffff;
	font-size: 3rem;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


.card-information {
	background-color: #000000;
	display: flex;
	width: 800px;
	height: 200px;
	padding: 5px;
}

#card-1 {
	background: url('../images/overlord.jpg');
	background-size: cover;
}

#card-2 {
	background: url('../images/stalingrado.jpg');
	background-size: cover;
}

#card-3 {
	background: url('../images/england1.jpg');
	background-size: cover;
}

#card-4 {
	background: url('../images/german.jpg');
	background-size: cover;	
}

#card-5 {
	background: url('../images/italian.jpg');
	background-size: cover;	
}

#card-6 {
	background: url('../images/japanese.jpg');
	background-size: cover;	
}

.title-button {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.button-card {
	font-family: 'GoudyBookletter1911';
	background-color: #000000;
	padding: 5px;
	color: #ffffff;
	transition: background 1s linear;
	cursor: pointer;
}

h2 {
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	font-size: 2rem;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.button-card:hover {
	background-color: #ffffff;
	color: #000000;
}

.main-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	height: 50px;
	color: #ffffff;
}

.ventana-modal {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
}

.modal-informacion {
	background-color: #000000;	
	display: flex;
	justify-content: center;
	flex-direction: column;
	display: flex;
	padding: 10px;
	gap: 10px;
	border: solid 3px grey;
}

.texto {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 600px;
}

.bandera {
	width: 100%;
	border: solid 1px grey;
}

.parrafo {
	color: #ffffff;
	border: solid 1px grey;
	padding: 10px;
	height: 450px;
	overflow-y: scroll;
	text-align: justify;
}

.parrafo::-webkit-scrollbar {
    width: 5px; /* Ancho del scroll vertical */
    height: 5px; /* Altura del scroll horizontal */
}

.parrafo::-webkit-scrollbar-track {
    background: #000000;
}

.parrafo::-webkit-scrollbar-thumb {
    background: darkgray; /* Color de la manija */
}

.parrafo::-webkit-scrollbar-thumb:hover {
    background: darkgray; /* Color al pasar el cursor */
}

.encabezado {
	border: solid 1px grey;
	text-align: center;
}

.boton-cerrar {
	background: url('../images/background48.jpg');
	background-size: cover;
	height: 30px;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Maquina de Escribir';
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
     transition: transform 0.3s ease, filter 0.3s ease;
}

.boton-cerrar:hover {
	filter: brightness(1.5);
}

.img {
	border: solid 1px grey;
}

#img1 {
	float: left;
	margin-right: 10px;
	width: 300px;
}

#img2 {
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	width: 300px;
}

#img3 {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	width: 300px;
}
