@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);

}

* {
	margin: 0;
	padding: 0;
}

body {
	
	background-image: url('../images/background53.jpg');
	background-size: cover;
}

.main-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 50%;
	max-width: 2000px;
	margin: 50px auto;
	padding: 10px;
	flex-grow: 0;
}

.main-container .encabezado-contenedor-informacion,
.main-container .contenedor-tarjetas-banners,
.main-container .navegador,
.main-container .banner,
.main-container .tarjetas,
.main-container .pie-pagina,
.main-container .encabezado-tarjetas,
.main-container .contenedor-tarjetas{
	border-radius: 5px;
	border: solid 1px grey;
}

.contenedor-informacion{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.encabezado-contenedor-informacion{
	background: url('../images/17.jpg');
	background-size: cover;
	background-position-y: 80%;
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'PeachyKeenSerif-DEMO';
	padding: 25px;
	font-size: 3rem;
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


.contenedor-tarjetas-banners{
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	height: 600px;
	padding: 5px;
	gap: 5px;
}

.navegador{
	background-color: #000000;
	padding: 10px;
}

.navegador ul{
	display: flex;
	justify-content: center;
	gap: 15px;
	list-style: none;
}

.navegador ul a{
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	transition: background 1s linear;
	padding: 3px;
}

.navegador ul a:hover{
	background-color: #ffffff;
	color: #000000;
	border-radius: 5px;
}

.banner{
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 300px;
	height: 100%;
}

#banner-1{
	background: url('../images/bannernuevo.jpg');
	background-size: cover;
	background-position-x: 70%;
}

#banner-2{
	background: url('../images/banner5.jpg');
	background-size: cover;
	background-position-x: 80%;
}

.tarjetas{
	background-color: #000000;
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 100%;
}

.encabezado-tarjetas{
	background: url('../images/batallas4.jpg');
	background-size: cover;
	background-position-y: 50%;
	margin: 5px;
	display: flex;
	justify-content: center;
}

.contenedor-tarjetas{
	background: url('../images/16.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	margin: 5px;
	height: 100%;
	overflow-y: scroll;
	padding: 5px;
	gap: 5px;
}


.contenedor-tarjetas::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.contenedor-tarjetas::-webkit-scrollbar-track {
    background: brown;
}

.contenedor-tarjetas::-webkit-scrollbar-thumb {
    background: goldenrod; 
}

.contenedor-tarjetas::-webkit-scrollbar-thumb:hover {
    background: #000000; 
}

.section{
	display: flex;
	gap: 5px;
	flex-direction: row;
}

.card{
	background: url('../images/10.jpg');
	background-size: cover;
	width: 150px;
	height: 160px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	gap: 5px;
	border: solid 1px #000000;
}

.img-card{
	border: solid 1px #000000;
	border-radius: 5px;
}


#card-1{
	width: 100%;
}

.description{
	display: flex;
	justify-content: center;
	background-color: #000000;
	width: 100%;
	color: #ffffff;
	border-radius: 5px;	
	font-family: 'GoudyBookletter1911';
}

.boton{
	display: flex;
	justify-content: center;
	background-color: darkred;
	width: 100%;
	color: #ffffff;
	border-radius: 5px;
	transition: background 1s linear;
}

.boton:hover{
	background-color: #ffffff;
	color: darkred;
}

.contenedor-banner {
	width: 100%;
	border: solid 1px grey;
	border-radius: 5px;
}

.pie-pagina {
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'GoudyBookletter1911';
	text-align: center;
	color: #ffffff;
	height: 50px;
}

.pantalla-emergente {
	background: rgba(0, 0, 0, 0.5);	
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.contenido-informacion {
	background: url('../images/16.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: solid 1px grey;
	border-radius: 5px;
	padding: 15px;
	width: 800px;
	height: 800px;
	align-items: center;
}

.texto-imagenes {
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: solid 1px #000000;
	width: 800px;
	height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px auto;
}

.contenido-informacion ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.contenido-informacion ::-webkit-scrollbar-track {
    background: #000000;
}

.contenido-informacion ::-webkit-scrollbar-thumb {
    background: ghostwhite; 
}

.contenido-informacion ::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

#titulo-card {
	background-color: #000000;
	font-family: 'GoudyBookletter1911';
	text-align: center;
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     padding: 5px;
     border: solid 1px grey;
     border-radius: 5px;
}

.img-information {
	border-radius: 5px;
	border: solid 1px grey;
}

#img-4 {
	width: 100%;
	border-radius: 5px;
	border: solid 1px grey;
} 

.texto {
	background-color: #000000;
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	padding: 10px;
	border: solid 1px grey;
	border-radius: 5px;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;
}

.boton-cerrar {
	background-color: #000000;
	font-family: 'GoudyBookletter1911';
	color: #ffffff;	
	width: 100px;
	padding: 10px;
	border: solid 1px grey;
	border-radius: 5px;
	transition: background 1s linear;
}

.boton-cerrar:hover {
	background-color: #ffffff;
	color: #000000;
}