@font-face {	
	font-family: 'Wargate-Normal';
	src: url('../fonts/Wargate-Normal.otf') format(OpenType);
}

@font-face {
	font-family: 'CFWorldatWarPERSO-Regular';
	src: url('../fonts/CFWorldatWarPERSO-Regular.ttf') format(TrueType);
}

@font-face {
	font-family: 'European War';
	src: url('../fonts/European War.otf') format(OpenType);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/fondo3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.main-container {
	width: 90%;
	max-width: 2000px;
	margin: 50px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
}

.main-container .header,
.main-container .header-2, 
.main-container .nav,
.main-container .main,
.main-container .aside,
.main-container .footer {
	padding: 20px;
	border-radius: 10px;
}

.main-container .header {
	background-color: black;
	grid-column-start: 1;
	grid-column-end: -1;
}

.main-container .header .title-header {
	font-family: 'CFWorldatWarPERSO-Regular';
	font-size: 1em;
	color: #ffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

.main-container .nav {
	background: rgba(0, 0, 0, 0.6);
	grid-column: 1;
}

.main-container .nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;
}

.main-container .nav a {
	color: #ffff;
	font-family: 'CFWorldatWarPERSO-Regular';
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border-bottom: solid 1px darkred;
}

.main-container .nav a:hover {
	background-color: #ffff;
	color: black;
	transition: 0.5s ease-out;
}

.main-container .nav .img-2 {
	margin-top: 25px;
	width: 100%;
	border: solid 1px grey;
	border-radius: 5px;
}

.main-container .main {
	background: rgba(0, 0, 0, 0.6);
	grid-column-start: 2;
	grid-column-end: 4;
	display: flex;
	flex-direction: column;
	gap: 5px;
	top: auto;
	bottom: auto;
	padding: 5px;
}

.main-container .header-2 {
	background-color: black;
	border-radius: 10px;
	border: solid 1px grey;
	text-align: center;
}

.main-container .header-2 .title-header-1 {
	font-family: 'CFWorldatWarPERSO-Regular';
	font-size: 1em;
	color: #ffff;
}

.main-container .container-cars {
	width: 100%;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.main-container .section {
	display: flex;
	margin-top: 10px;
	gap: 10px;
}

.card {
	background-image: url('../images/fondo6papel.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	border: solid 1px grey;
	border-radius: 10px;
	height: 200px;
	padding: 15px;
}

#card-1 .img-1,
#card-2 .img-1,
#card-3 .img-1 {
	width: 100%;
	border: solid 2px black;
	border-radius: 5px;
}

.description {
	color: white;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 1rem;
	padding-bottom: 2px;
	border-bottom: solid 1px darkred;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

.button-1 {
	background-color: black;
	border: solid 1px grey;
	border-radius: 5px;
	padding: 5px;
	font-family: 'CFWorldatWarPERSO-Regular';
	font-size: 15px;
	color: #ffff;
}

.main-container .aside {
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	grid-column: 4 / 4;
	gap: 10px;
}

.banner {
	width: 100%;
	border: solid 1px grey;
	border-radius: 5px;
}

.banner:hover {
	filter: brightness(1.5);
	transition: transform 0.3s ease, filter 0.3s ease;
}

.aside .article {
	background: rgba(0, 0, 0, 0.6);
	border: solid 1px grey;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: scroll;
	height: 200px;
	padding: 10px;
	overflow-x: hidden;
}

.header-3 {
	background-color: black;
	border: solid 1px grey;
	border-radius: 5px;
}

.header-3 h3 {
	color: #ffff;
	font-family: 'CFWorldatWarPERSO-Regular';
	text-align: center;
	padding: 3px;
}

.img-3 {
	width: 100%;
	border: solid 1px grey;
	border-radius: 5px;
}

.text {
	font-family: 'Times New Roman';
	font-size: 1rem;
	color: white;
    text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
}

.main-container .footer {
	background: rgba(0, 0, 0, 0.6);
	grid-row: 3 / 3;
	grid-column-start: 1;
	grid-column-end: -1;
	color: #ffff;
	font-family: 'CFWorldatWarPERSO-Regular';
	text-align: center;
}

@media (min-width: 1536px) and (max-width: 1920px) {
	.main-container .nav {
		display: flex;
		justify-content: center;
	}

	.img-2 {
		display: none;
	}

	.main-container .aside {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 1024px) {
		.main-container {
			grid-row: 4 / span 2;
			padding: 10px;
		}

		.main-container .nav {
			grid-row: 2;
			grid-column-start: 1;
			grid-column-end: -1;
		}

		.main-container .nav ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		.img-2 {
			display: none;
		}

		.card {
			gap: 5px;
		}

		.main-container .main {
			grid-row: 3;
			grid-column-start: 1;
			grid-column-end: -1;
		}

		.main-container .aside {
			grid-row: 4;
			grid-column-start: 1;
			grid-column-end: -1;
		}

		.main-container .footer {
			grid-row: 5;
			grid-column-start: 1;
			grid-column-end: -1;
		}
}

@media (min-width: 580px) and(max-width: 768px) {
	body {
	    background-image: url('../images/bannernuevo.jpg');
		background-position-x: 50%;
	}

	.main-container {
		grid-row: 4 / span 2;

	}

	.main-container .nav {
		grid-row: 2;
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.main-container .nav ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.img-2 {
		display: none;
	}

	.card {
		gap: 10px;
	}

	.main-container .main {
		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.main-container .aside {
		grid-row: 4;
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.main-container .footer {
		grid-row: 5;
		grid-column-start: 1;
		grid-column-end: -1;
	}

}

@media (min-width: 375px) and (max-width: 420px) {
	body {
		background-image: url('../images/bannernuevo.jpg');
		background-size: cover;
		background-position-x: 80%;
	}

	.main-container {
		grid-row: 4 / span 2;
	}
	
	.main-container .nav {
		grid-row: 2;
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.main-container .nav ul {
		display: flex;
		flex-direction: column;
	}

	.img-2 {
		display: none;
	}

	.main-container .main {
		grid-row: 3;
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.main-container .section {
		display: flex;
		flex-direction: column;
	}

	.card {
		width: 90%;
		gap: 5px;
	}

	#card-1 .img-1,
	#card-2 .img-1,
	#card-3 .img-1 {
		width: 80%;
		border: solid 2px black;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;	
	}

	.main-container .aside {
		grid-row: 4;
		grid-column-start: 1;
		grid-column-end: -1;
	}

	.main-container .footer {
		grid-row: 5;
		grid-column-start: 1;
		grid-column-end: -1;
	}

}

