@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);

}
* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/img13.jpg');
	background-size: cover;
}

.main {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, auto);
	max-width: 2000px;
	width: 90%;
	border: solid 1px grey;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.6);
	grid-gap: 5px;
	padding: 10px;
	margin: 100px auto;
}

.header {
	display: flex;
	justify-content: center;
	grid-column: 1;
	grid-row: 1;
	background-color: #000000;
	border: solid 1px grey;	
	padding: 10px;
}

.header h1 {
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	font-size: 3em;
}

.boton {
	width: 80%;
	height: 100px;
	background-color: pink;
	border: solid 1px grey;
	display: flex;
	justify-content: center;
	border-radius: 5px;
}

.contenedor {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
}


#boton-1{
	background-image: url('../images/img22.jpg');
	background-size: cover;
	background-position-y: 30%;
}

#boton-2 {
	background-image: url('../images/img12.jpg');
	background-size: cover;
	background-position-y: 40%;
}

#boton-3 {
	background-image: url('../images/img21.jpg');
	background-size: cover;
	background-position-y: 20%;
}

#boton-4 {
	background-image: url('../images/img8.jpg');
	background-size: cover;
	background-position-y: 20%;
}

#boton-5 {
	background-image: url('../images/img7.jpg');
	background-size: cover;
	background-position-y: 60%;
}

a {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	font-size: 2em;
}

.boton:hover {
	filter: brightness(1.1);	
}


.footer {
	padding: 5px;
	grid-column: 1;
	grid-row: 3;
	border: solid 1px grey;
	background-color: #000000;
	color: #ffffff;
	font-family: 'GoudyBookletter1911';
	font-size: 20px;
	text-align: center;
}

























