@font-face {
	font-family:'CFWorldatWarPERSO-Regular';
	src: url('../fonts/CFWorldatWarPERSO-Regular.ttf') format(TrueType);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/img13.jpg');
	background-size: cover;
	padding: 5px;
}


.main {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-gap: 10px;
	width: 100%;
	margin: auto;
}

.header {
	background-color: #000000;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row: 1;
	padding: 10px;
} 

.main-title {
	font-family:'CFWorldatWarPERSO-Regular';
	color: #ffffff;
	font-size: 2rem;
}


#contenido {
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row: 3;
	display: flex;
	gap: 5px;
}

.border {
	border: solid 1px red;
	border-radius: 5px;
}

.img {
	width: 35%;
}

.img-1 {
	width: 45%;
}

.img-2 {
	width: 100%;
}

img:hover{
	transform: scale(1.1);
	transition: 0.3s ease-out;
}

#contenedor-0 {
	display: flex;
	gap: 5px;
	justify-content: center;
	padding: 10px;
}

.contenedor-1-1 {
	display: flex;
	gap: 10px;
	align-items: center;
}

.contenedor-2 {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.footer {
	background-color: #000000;
	grid-row: 5;
	grid-column-start: 2;
	grid-column-end: 6;
	text-align: center;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}


















