@font-face {
	font-family: 'European War';
	src: url('../fonts/European War.ttf') format(TrueType);
}

@font-face {
	font-family: 'War is Over';
	src: url('../fonts/War is Over.ttf') format(TrueType);
}

body {
	margin: 0;
	padding: 0;
}

#encabezado {
	background-color: black;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

#encabezado #navegator {
	display: flex;
	justify-content: space-between;
	margin-right: 15px;
	margin-top: 10px;
}

#encabezado #navegator ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	gap: 20px;	
}

#encabezado #navegator a {
	font-family: 'European War';
	color: white;
	text-decoration: none;
}

#encabezado #navegator a:hover {
	background-color: white;
	background-size: auto;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
	color: black;
	transition: 0.3s ease;
}

#encabezado img {
	max-width: 200px;
}

#encabezado img:hover {
    filter: brightness(1.8);
}

#main-background img {
	width: 100%;
	position: relative;
}

#main-title {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	padding-left: 20%;
	padding-right: 20%;
	border: solid 1px grey;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}

#main-title h1 {
	font-family: 'War is Over';
	color: white;
	margin: 0;
	font-size: 10vw; /* Usar unidades relativas para el tamaño de la fuente */
}

@media (min-width: 768px) and (max-width: 1200px) {
		#main-title {
		padding-left: 10%;
		padding-right: 10%;
		top: 35%;
		left: 25%;
	}
	
	#main-title h1 {
		font-size: 8vw;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	#encabezado {
		background-color: black;
		display: flex;
		flex-direction: column;
        align-items: center;
	}

	#encabezado #navegator {
		display: flex;
	}

	#encabezado #navegator ul {
		flex-direction: column;
	}

	#encabezado #navegator a {
		box-sizing: border-box;
		color: white;
		text-align: center;
	}

	#encabezado #navegator a:hover {
		background-color: white;
		background-size: auto;
		border-radius: 5px;
		padding-left: 10%;
		padding-right: 10%;
		color: black;
		transition: 0.3s ease;
	}

	#encabezado img {
		align-items: center;
	}

	#main-title {
		padding-left: 5%;
		padding-right: 5%;
		top: 60%;
		top: 35%;
		left: 25%;
}

@media (min-width: 300px) AND (max-width: 481px) {
	#main-title {
		padding-left: 10%;
		padding-right: 10%;
		top: 45%;
		left: 35%;
	}
	
	#main-title h1 {
		font-size: 6vw;
	}
}

@media (min-height: 1000px){
	#main-title {
	}
}