@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);

}


* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/img13.jpg');
	width: 100%;
	height: 100%;
}

.main-content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-gap: 5px;
	width: 50%;
	max-width: 2000px;
	margin: 50px auto;
}

.header {
	background: url('../images/17.jpg');
	background-size: cover;
	background-position-y: 80%;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: 1;
	display:  flex;
	justify-content: center;
	background-color: #000000;
	border: solid 1px grey;
	border-radius: 5px;
	padding: 10px;
}

h1 {
	font-family: 'PeachyKeenSerif-DEMO';
	padding: 25px;
	font-size: 3rem;
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.nav {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: 2;
	background-color: #000000;
	border: solid 1px grey;
	border-radius: 5px;
	padding: 10px;
}

.nav ul {
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style: none;
}

.nav a {
	text-decoration: none;
	font-family: 'CFWorldatWarPERSO-Regular';
	color: #ffffff;
	padding: 5px;
	border-radius: 5px;
	transition: background 1s linear;
}

.nav a:hover {
	border-radius: 5px;
	background-color: #ffffff;
	color: #000000;
}

.content {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: 3;
	display: flex;
	gap: 20px;
}

.container {	
	background-color: #000000;
	border: solid 1px grey;
	border-radius: 5px;
	width: 50%;
	height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding:10px;
}

.container::-webkit-scrollbar {
    width: 5px; /* Ancho del scroll vertical */
    height: 5px; /* Altura del scroll horizontal */
}

.container::-webkit-scrollbar-track {
    background: #000000;
}

.container::-webkit-scrollbar-thumb {
    background: darkgray; /* Color de la manija */
}

.container::-webkit-scrollbar-thumb:hover {
    background: darkgray; /* Color al pasar el cursor */
}

.card {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}


.main-title-card {
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	font-size: 2rem;
	margin: 5px;
	border-bottom: solid 1px black;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.gallery {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.img {
	width: 25%;
	border: solid 5px #000000;
	border-radius: 5px;
	margin: 10px;
}

.imgflag {
	width: 50%;
	border: solid 5px #000000;
	border-radius: 5px;
	margin: 10px;
}

.texto {
	font-family: 'GoudyBookletter1911';
	color: #ffffff;	
	margin: 10px;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#card-1,#card-2,#card-3,#card-4,#card-5,#card-6,#card-7{
	background-image: url('../images/16.jpg');
	background-size: cover;
	border: solid 1px grey;
}

.footer {
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: 4;
	background: rgba(0, 0, 0, 0.6);
	border: solid 1px grey;
	border-radius: 5px;
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	font-size: 2rem;
	text-align: center;
	padding: 5px;
}

@media (min-width: 768) and (max-width: 1024) {

	.main-title-card {
		text-align: center;
	}

	.texto {
		text-align: center;
	}
}

@media (max-width: 420px) {

	.nav ul {
		display: flex;
		flex-direction: column;
	}

	.nav a {
		text-align: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;

	}

	#container-1, #container-2 {
		width: 90%;
	}


	.main-title-card {
		text-align: center;
	}

	.texto {
		text-align: center;
	}

}


