@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);

}

*{
	padding: 0;
	margin: 0;
}

body{

	background: url('../images/img13.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 16px;
}

p{
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	font-size: 2rem;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.subrayado{
	text-decoration: underline;
}

/* esto conforma todo el contenido de la pagina */

.main-container{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, auto);
	width: 90%;
	max-width: 2000px;
	margin: 50px auto;
}

.main-container .header,
.main-container .main-content,
.main-container .navegator,
.main-container .article,
.main-container .banners,
.main-container .contenedor,
.main-container .header-1,
.main-container .texto,
.main-container .footer{
	border: solid 1px grey;
	border-radius: 5px;
	padding: 10px;
}

/* aca se encuentra el encabezado */

.header{
	display: grid;
	grid-row: 1 / 1;
	grid-column-start: 1;
	grid-column-end: -1;
	background: url('../images/fireChispa.jpg');
	background-size: cover;
	background-position-y: -10px;
}

.header #title{
	display: flex;
	justify-content: center;
	transition: transform 0.3s ease, filter 0.3s ease;
}

#title:hover{
	filter: brightness(1.5);
}

/* aca se encuentra el navegaodr */

.navegator {
	background-color: #000000;
	grid-row: 2 / 2;
	grid-column-start: 1;
	grid-column-end: -1;
}

.navegator ul{
	display: flex;
	gap: 15px;
	justify-content: center;
	list-style: none;
}


.navegator ul a{
	padding: 5px;
	text-decoration: none;
	color: white;
	font-family: 'GoudyBookletter1911';
	transition: background 1s linear;
	border-radius: 5px;
}

.navegator ul a:hover{
	background-color: white;
	color: black;
	border-radius: 5px;
}

/* aca se encuentra el contenido principal */

.main-content{
	display: grid;
	grid-row: 3 / 10;
	grid-gap: 10px;
	grid-column: 1 / -1;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, auto);
}

/* aca se encuentra la seccion de los banners*/

.imagen{
	width: 100%;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.imagen:hover{
	filter: brightness(1.5);
}


.banner{
	height: 150px;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.banner:hover {
	filter: brightness(1.5);
}

.banners{
	display: grid;
	grid-gap: 10px;
	grid-row: 1 / -1;
	background: rgba(0, 0, 0, 0.6);
}

/* aca se encuentra el contendor de informacion */

.contenedor{
	background: rgba(0, 0, 0, 0.6);
	display: grid;
	grid-row: 1 / -1;
	grid-column: 2 / -1;

}

.article{
	height: 800px;
	display: flex;
	flex-direction: column;
	gap: 5px;

}

.header-1 {
	background-color: #000000;
	display: flex;
	justify-content: center;
}

.header-img{
	width: 800px;
}

.texto{
	background-color: rgba(139, 0, 0, 0.5);
	height: 800px;
	overflow-y: scroll;
}


.texto::-webkit-scrollbar {
    width: 12px; /* Ancho del scroll vertical */
    height: 12px; /* Altura del scroll horizontal */
}

.texto::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
}

.texto::-webkit-scrollbar-thumb {
    background: #888; /* Color de la manija */
    border-radius: 10px;
}

.texto::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color al pasar el cursor */
}


.imagen-1{
	border: solid 5px black;
	border-radius: 5px;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.imagen-1:hover{
	filter: brightness(1.5);
}

#img-1{
	float: left;
	margin-right: 10px;
	width: 250px;
}

#img-2{
	float: right;
	width: 500px;
}

#img-3{
	float: left;
	margin-right: 10px;
	width: 450px;
}

#img-4{
	float: right;
	width: 500px;
}

#img-5{
	float: right;
	margin-right: 10px;
	width: 500px;	
}

#img-6{
	float: left;
	margin-right: 10px;
	width: 500px;	
}

#img-7{
	float: right;
	margin-right: 10px;
	width: 450px;	
}

#img-8{
	float: left;
	margin-right: 10px;
	width: 450px;
}

#img-9{
	float: right;
	margin-right: 10px;
	width: 450px;
}

#img-10{
	float: left;
	margin-right: 10px;
	width: 400px;
}

#img-11{
	float: left;
	margin-right: 10px;
	width: 400px;
}

#img-12{
	float: right;
	margin-right: 10px;
	width: 400px;
}

/* aca se encuentra el pie de pagina */

.footer{
	display: flex;
	justify-content: center;
	color: white;
	font-family: 'GoudyBookletter1911';
	font-size: 1rem;
	display: grid;
	grid-column-start: 1;
	grid-column-end: -1;
	background: rgba(0, 0, 0, 0.6);
}