@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);

}

*{
	padding: 0;
	margin: 0;
}

body{

	background-color: yellowgreen;
	font-size: 16px;
}

a{
	text-decoration: none;
	color: inherit;
	font-family: 'GoudyBookletter1911';
}


/* esto conforma todo el contenido de la pagina */

.main-container{
	display: grid;
	grid-gap: 10px;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(2, 1fr);
	width: 90%;
	max-width: 2000px;
	margin: 50px auto;
}

.main-container .header,
.main-container .main-content,
.main-container .navegator,
.main-container .article,
.main-container .banners,
.main-container .banner,
.main-container .container-cards,
.main-container .footer{
	border: solid 1px grey;
	border-radius: 5px;
	padding: 10px;
}

/* aca se encuentra el encabezado */

.header{
	display: grid;
	grid-row: 1 / 1;
	grid-column-start: 1;
	grid-column-end: -1;
}

.header #title{
	display: flex;
	justify-content: center;
	font-family: 'GoudyBookletter1911';
	font-size: 2rem;
}


/* aca se encuentra el navegaodr */

.navegator {
	display: grid;
	grid-row: 2 / 2;
	grid-column-start: 1;
	grid-column-end: -1;
}

.navegator ul{
	display: flex;
	gap: 15px;
	justify-content: center;
	list-style: none;
}

