@font-face {
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);

}

*{
	padding: 0;
	margin: 0;
}

body{

	background-color: yellowgreen;
}

a{
	text-decoration: none;
	color: inherit;
}

.main-container{
	display: grid;
	width: 90%;
	max-width: 2000px;
	margin: 50px auto;
	
}