@font-face{
	font-family: 'GoudyBookletter1911';
	src: url('../fonts/GoudyBookletter1911.otf') format(OpenType);
}

@font-face {
	font-family: 'Maquina de Escribir';
	src: url('../fonts/Maquina de Escribir.ttf') format(TrueType);
}

*{
	padding: 0;
	margin: 0;
}

body{
	background: url('../images/naziEsoteric.jpg');
	background-size: cover;
}

.main-container{
	display: grid;
	grid-gap: 5px;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(5, 1fr);
	width: 90%;
	max-width: 2000px;
	margin: 50px auto;
}

.main-container .encabezado-principal,
.main-container .navegator,
.main-container .articulo-izquierdo,
.main-container .encabezado-articulo,
.main-container .texto,
.main-container .libros,
.main-container .contenido-adicional-info,
.main-container .encabezado-contenido-adicional,
.main-container .pie-pagina{
	border: solid 1px grey;
}


.encabezado-principal{
	background: url('../images/fireChispa.jpg');
	display: grid;
	grid-row: 1 / 1;
	grid-column: 1 / -1;
}


.encabezado-principal .titulo-encabezado{
	display: flex;
	justify-content: center;
}

.img-encabezado-principal{
	width: 100%;
	max-width: 600px;
}


.navegator{
	background-color: #000000;
	display: grid;
	grid-row: 2 / 2;
	grid-column: 1 / -1;
}

.navegator ul{
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 25px;
	padding: 10px;
}

.navegator ul a{
	text-decoration: none;
	color: #ffffff;
	font-family: 'Maquina de Escribir';
	border-radius: 5px;
	padding: 5px;
	transition: background 1s linear;
}

.navegator ul a:hover{
	background-color: #ffffff;
	color: #000000;
	border-radius: 5px;
}

/* Contenido pricipal */

.contenido-principal{
	display: grid;
	grid-row: 3 ;
	grid-column: 1 / -1;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
}


.articulo-izquierdo{
	background: url('../images/background47.jpg');
	background-size: cover;
	display: grid;
	grid-column: 1 / 3;
	grid-row: 1 / -1;
	padding: 5px;
}	

.informacion{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.img-texto-0 {
	width: 100%;
	border: solid 3px #000000;
	cursor: pointer;
	transition: transform 0.3s ease, filter 0.3s ease;
}

.img-texto-0:hover {
	filter: brightness(1.5);
}

.encabezado-articulo{
	background: url('../images/vril3.jpg');
	background-size: cover;
} 

.img-encabezado-articulo{
	width: 100%;
}

.texto {
	background: url('../images/castle.jpg');
	background-size: cover;	
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px;
	display: flex;
	flex-grow: 1;
	height: 500px;
	flex-direction: column;
	gap: 10px;
}

.texto::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.texto::-webkit-scrollbar-track {
    background: #000000;
}

.texto::-webkit-scrollbar-thumb {
    background: #888; 
}

.texto::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.texto-parrafo{
	background: rgba(0, 0, 0, 0.6);
	border: solid 1px #000000;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;	
}

.contenedor-principal{
	background: url('../images/background48.jpg');
	background-size: cover;
	display: grid;
	grid-column: 3 / -1;
	grid-row: 1 / -1;
	border-radius: 5px;
	border: solid 1px grey;
}


.contenido-principal-central {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
}

.encabezado-contenedor-principal{
	background-color: #000000;
	display: flex;
	justify-content: center;
	border: solid 1px grey;
	border-radius: 5px;
}

.img-encabezado-contenedor-principal{
	width: 100%;
}

.portada-contenedor-principal{
	width: 100%;
}


.img-portada{
	width: 100%;
	border: solid 1px grey;
	border-radius: 5px;
}


.texto-contenedor-principal{
	background-color: #000000;
	overflow-y: scroll;
	border: solid 1px grey;
	border-radius: 5px;
	padding: 5px;
	height: 300px;
	flex-grow: 1;
}

.parrafo{
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     padding: 10px;
     text-align: justify;
}

#img-texto-1{
	float: left;
	width: 100%;
	max-width: 100px;
	margin-right: 10px;
	margin-top: 5px;
	margin-left: 5px;
}

#img-texto-2{
	float: right;
	width: 100%;
	max-width: 100px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-top: 10px;
}

#img-texto-3{
	float: left;
	width: 100%;
	max-width: 100px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
}

#img-texto-4{
	float: left;
	width: 100%;
	max-width: 200px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
}

#img-texto-5{
	float: right;
	width: 50%;
	max-width: 250px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.texto-contenedor-principal::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.texto-contenedor-principal::-webkit-scrollbar-track {
    background: #000000;
}

.texto-contenedor-principal::-webkit-scrollbar-thumb {
    background: #888; 
}

.texto-contenedor-principal::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
		  				
.contenido-adicional{
	display: grid;
	grid-row: 4;
	grid-column: 1 / -1;
	grid-gap: 5px;
}

.encabezado-contenido-adicional{
	background-color: #000000;
	display: flex;
	justify-content: center;
}

.img-encabezado-articulo{
	width: 100%;
	max-width: 400px;
}

.contenido-adicional-info{
	background: url('../images/interior2.jpg');
	background-size: cover;
	background-position-y: 60%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	padding:10px;
}

.img-1-1{
	width: 100%;
	max-width: 300px;
	transform: translateX(-100%); /* Inicialmente fuera de pantalla */
    animation: slideIn 2s ease-out forwards;
}

@keyframes slideIn {
  from {
       transform: translateX(-100%);
    }
    to {
       transform: translateX(0);
    }
}


.libros{
	background: url('../images/background51.jpg');
	background-size: cover;
	display: flex;
	gap: 10px;
	padding: 10px;
	border-top: solid 1px grey;
	overflow-x: scroll;
}


.libros::-webkit-scrollbar {
    width: 5px; /* Ancho del scroll vertical */
    height: 5px; /* Altura del scroll horizontal */
}

.libros::-webkit-scrollbar-track {
    background: #000000;
}

.libros::-webkit-scrollbar-thumb {
    background: darkred; /* Color de la manija */
}

.libros::-webkit-scrollbar-thumb:hover {
    background: red; /* Color al pasar el cursor */
}


.img-texto{
	width: 100%;
	max-width: 100px;
	border: solid 1px grey;
	cursor: pointer;
}

.contenido-multimedia{
	display: grid;
	grid-row: 4;
	grid-column: 1 / -1;
	grid-template-rows: repeat(3,auto);
 	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.contenido-multimedia-videos{
	display: grid;
	grid-row: 1 / -1;
	grid-column-start: 1;
	grid-column-end: 3;
}

.video{
	width: 100%;
}


.articulo-derecho{
	display: grid;
	grid-row: 1 / -1;
	grid-column: 3;
}

.contenido-articulo-derecho{
	background: url('../images/dungeon.jpeg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	padding: 5px;
	gap: 5px;
	border-radius: 5px;
	border: solid 1px grey;
}

.encabezado-articulo-derecho{
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px grey;
}

.img-encabezado-articulo-2{
	width: 100%;
}


.parrafo-2{
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
	height: 500px;
	flex-grow: 1;
	border-radius: 5px;
	border: solid 1px grey;
	gap: 10px;
}

.parrafo-2-texto{
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

}

.img-1-1-2{
	width: 100%;
}

.parrafo-2::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}

.parrafo-2::-webkit-scrollbar-track {
    background: #000000;
}

.parrafo-2::-webkit-scrollbar-thumb {
    background: #888; 
}

.parrafo-2::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.pie-pagina{
	background-color: #000000;
	display: grid;
	grid-column: 1 / -1;
	grid-row: 5;
	padding: 15px;
	text-align: center;
	font-family: 'GoudyBookletter1911';
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.ventana-modal {
	background: rgba(0, 0, 0, 0.4);
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.ventana {
	background: url('../images/fireChispa.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	width: 1000px;
	height: auto;
	align-items: center;
	padding: 10px;
	gap: 5px;
	border: solid 5px darkgrey;
}

.galeria {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton {
	background: url('../images/fondo2.jpg');
	background-size: cover;	
	width: 350px;
	border: solid 1px #000000;
	padding: 10px;
	cursor: pointer;
	font-family: 'Maquina de Escribir';
	color: #ffffff;
	text-shadow: 	
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.imagenes {
	display: flex;
}

.img-descripcion {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.boton-png {	
	width:100px;
	height: 100px;
	cursor: pointer;
}

.img-modal {
	border: solid 1px #000000;
}

.img {
	border: solid 1px grey;
	cursor: pointer;
}

#img1 {
	background-color: darkred;
	float: left;
	width: 150px;
	margin-right: 10px;
	padding: 5px;
}

#img2 {
	background-color: purple;
	float: right;
	width: 125px;
	margin-left: 10px;
}

#img3 {
	float: left;
	width: 300px;
	margin-right: 10px;
}

#img4 {
	float: right;
	width: 300px;
	margin-left: 10px;
}

#img5 {
	float: left;
	width: 200px;
	margin-right: 10px;
}